{
    admin off
    auto_https off
}

http://[::]:80, http://0.0.0.0:80 {
    @livekit {
        path /rtc* /twirp* /livekit* /ws
    }
    reverse_proxy @livekit livekit:7880 {
        transport http {
            versions h2c 1.1
        }
    }

    @token {
        path /token*
    }
    reverse_proxy @token token-server:8000

    # Optional: Serve a static page or frontend files
    root * /srv/www
    file_server
}

http://77.246.103.197:8080 {
    root * /srv/www
    file_server
}