{
    admin off
}

viken.stream, www.viken.stream {
    encode gzip

    @livekit {
        path /rtc* /twirp* /livekit* /ws
    }
    reverse_proxy @livekit livekit:7880 {
        transport http {
            versions h2c 1.1
        }
    }

    @token {
        path /token*
    }
    reverse_proxy @token token-server:8000

    root * /srv/www
    file_server
}
