{
    admin off
}

https://viken.stream:8443 {
    tls your@email.com  # Let’s Encrypt still works on non-standard port if DNS validation is used

    @livekit {
        path /rtc* /twirp* /livekit* /ws
    }
    reverse_proxy @livekit livekit:7880 {
        transport http {
            versions h2c 1.1
        }
    }

    @token {
        path /token*
    }
    reverse_proxy @token token-server:8000

    root * /srv/www
    file_server
}
